<h1 class="text-center">All Posts</h1>


<% @posts.each do |post|%>
    User: <em><strong> <%=link_to post.user.username, user_path(post.user)%></em></strong><br>
    <%= link_to post.name, post_path(post), :class=> "text-primary"%><br><br>

<% end %>
<a class="btn btn-outline-primary" href= "/posts/new" role="button">New Post</a>


