<h1>Communities</h1>
    <div class= 'community-card-container'>
    <%@communities.each do |community|%><br>
        <div class= 'community-card'>
        <h2><%=community.name%> Posts: <%=community.posts.count%></h2>
        <br> 
        </div>
    <%end%>
    </div>